<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <title>server</title>
    <link rel="stylesheet" type="text/css" href="/public/style.css" />
</head>
<body>
    <%- include("./header.ejs") %>
    <div class="body">
        <br>- ДЕЯТЕЛЬНОСТЬ ОРГАНИЗАЦИИ -
    </div>
    <script src="/public/tools.js"></script> <!--вспомогательные функции-->
</body>
</html>