body {
    background-color: rgb(15, 35, 28);
    color: #dd7;
    font-family: "Comic Sans MS", serif;
    font-size: 16px;
}

div {
    text-align: center;
}

a { 
    text-decoration: none;
    color: #dddd77;
}
a.hover {
    text-decoration: none;
    color: chocolate;
}

table {
    width: 60%;
    background-color: #464;
    border-width: 1px;
    border-style: dashed;
    border-color: yellow;
    margin: auto;
}

td {
    border-color: grey;
    border-width: 1px;
    border-style: solid;
    text-align: center;
    position: relative;
    vertical-align: middle;
    margin: auto;
}

td.item {
    height: 36px;
    text-align: left;
    padding-left: 15px;
}

textarea {
    width: 60%;
    color: initial;
    display: inline-block;
    background-color: rgb(221, 229, 219);
    resize: vertical;
    cursor: text;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    font: 500 14px "Courier New";
    border-width: 1px;
    border-style: solid;
    border-color: rgb(169, 169, 169);
    padding: 2px;
}
