<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Content</title>
    <link rel="stylesheet" type="text/css" href="/public/es.css" />
    <link rel="shortcut icon" href="/public/favicon.ico" />
</head>

<body>
    
    <br><div>Content</div><br>
    
    <table class="dialog">
        <tr>
            <td class="item">
                <%=content%>
            </td>
        </tr>
    </table>

</body>
</html>
