<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <title>Content</title>
    <link rel="stylesheet" type="text/css" href="/public/es.css" />
    <link rel="shortcut icon" href="/public/favicon.ico" />
</head>

<body>

    <div>
    <br><%=title%><br><br>

    <textarea rows="40" cols="45" name="text" placeholder="Содержимое файла">
        <%=content%>
    </textarea>

    </div>

</body>
</html>
