body {
    background: url(/static/bg.png) repeat ;
    font: normal normal 14px/20px Arial, Georgia, serif;
}
h2 {
    color: #39c6b9;
    font-size: 24px;
    font-weight: lighter;
}
h3 {
    color: #39c6b9;
    font-size: 20px;
    font-weight: lighter;
}
h4 {
    color: #39c6b9;
    font-size: 16px;
    font-weight: lighter;
}
a {
    text-decoration: none;
    font-weight: lighter;
    color: #39c6b9;
    font-size: 20px;
}
a:hover {
    color: rgb(247, 49, 49);
}
.feed {
    color: #121;
    font-size: 14px;
    font-weight: normal;
    font: serif, Georgia;
}
table {
    width: 95%;
    border-collapse: collapse;
}
td, th {
    border: 1px solid #CCC;
    padding: 3px 7px 2px 7px;
}
th {
    text-align: left;
    padding: 5px;
    background-color: #A0D9C9;
    color: #fff;
}
tr:nth-child(odd) { 
    background-color: #CFEFDF; 
}

/* Форма обратной связи */
#inline {
    margin-left:30px;
    width:80%;
    margin:0 auto;
    background:#FFF;
    padding:10px 20px;
    border-radius:5px;
}
.txt {
    display:inline-block;
    color:#676767;
    width:95%;
    margin-bottom:10px;
    border:1px solid #CCC;
    padding:5px 9px;
    font-size:15px!important;
    line-height:1.4em;
    border-radius:5px;
}
.txtarea {
    display:inline-block;
    color:#676767;
    resize: vertical;
    width:95%;
    height:80px;
    margin-bottom:10px;
    border:1px solid #CCC;
    padding:5px 9px;
    font-size:15px!important;
    line-height:1.4em;
    border-radius:5px;
}
.txt:focus, .txtarea:focus {
    border-style:solid;
    border-color:#BABABA;
    color:#444;
}
input.error, textarea.error {
    border-color:#973D3D;
    border-style:solid;
    background:#F0BEBE;
    color:#A35959;
}
input.error:focus, textarea.error:focus {
    border-color:#973D3D;
    color:#A35959;
}
#send { 
    color:#FFFFFF;
    display:block;
    cursor:pointer;
    padding:5px 11px;
    font-size:1.2em;
    border:solid 1px #F9F9F9;
    border-radius:5px;
    background:#70C6B9;
    width:45%;
    margin-bottom:20px;
}
#send:hover {
    background:#979797;
}
#back { 
    color:#FFFFFF;
    display:block;
    cursor:pointer;
    padding:5px 11px;
    font-size:1.2em;
    border:solid 1px #F9F9F9;
    border-radius:5px;
    background:#f79797;
    width:45%;
    margin-bottom:20px;
}
#back:hover {
    background:#979797;
}
/* Форма обратной связи */
