<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>Авторизован</title>
	<link rel="stylesheet" type="text/css" href="/static/login.css" />
    <link rel="shortcut icon" href="/static/favicon.ico" />
</head>

<body>
    <br>
    <h1>Авторизация успешно пройдена</h1>
    <h3>{{username}}</h3>
    <h3>{{result}}</h3>
</body>
</html>