<!DOCTYPE html>
<html>
<head>
    <title>Example</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
</head>
<body>
    <h3>Поля объекта</h1>
    <table>

        <tr>
            <th>index</th>
            <th><a href="/sort/lang">Language</a></th>
            <th><a href="/sort/level">Level</a></th>
        </tr>

        {{#each data}}
            <tr>
                <td>{{@index}}</td>
                <td>{{this.lang}}</td>
                <td>{{this.level}}</td>
            </tr>
        {{/each}}
    </table>
</body>
<html>