<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <title><%= title %></title>
    <link rel="stylesheet" type="text/css" href="/public/style.css" />
</head>

<body>
    <div class="header">
        <table>
            <tr>
                <% for (let item of items) {%>
                <td class="menu"><a href="<%=item%>"><%=item%></a></td>
                <% } %>
            </tr>
        </table>
    </div>
    <div class="body">
        <br><%= text %>
    </div>
    <script src="/public/tools.js"></script> <!--вспомогательные функции-->
</body>

</html>