<!DOCTYPE html>
<html>
<head>
    <title>Example</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="css/style.css" />
</head>

<body>
    <h3>Поля объекта</h1>
    <table>
        <tr>
            <td>{{lang}}</td>
            <td>{{isLearning}}</td>
            <td>{{level}}</td>
        </tr>
    </table>
</body>

<html>