<div class="header">
    <table>
        <tr>
            <td class="menu"><a href="index">index</a></td>
            <td class="menu"><a href="content">content</a></td>
            <td class="menu"><a href="contacts">contacts</a></td>
        </tr>
    </table>
</div>