<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <title>server</title>
    <link rel="stylesheet" type="text/css" href="/public/style.css" />
</head>

<body>
    <% const text = "- КОНТАКТЫ ОРГАНИЗАЦИИ -"; %>
    <%- include("./header.ejs") %>
    <div class="body">
        <br><%= text %>
    </div>
    <script src="/public/tools.js"></script> <!--вспомогательные функции-->
</body>

</html>