<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <link rel="stylesheet" type="text/css" href="/public/style.css" />
    <link rel="shortcut icon" href="/public/favicon.ico" />
</head>
<body>
    <%- include("./header.ejs") %>

    <div class="body">
        <br><%= text %>
    </div>

    <script src="/public/tools.js"></script> <!--вспомогательные функции-->
</body>
</html>